<div class="row mt-1" style="background-color: lightgray">
    <div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="http://s2.fafa01.com/uploads/06/2/310228/14973227133525.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pariatur</h5>
                        <p>Pariatur cupidatat exercitation eiusmod.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://images.milled.com/2014-08-18/0-F_b1rU2Ou6SkGm/UoHrW48sFq2P.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pariatur</h5>
                        <p>Pariatur cupidatat exercitation eiusmod.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://9to5mac.files.wordpress.com/2018/04/uniqlo-jw-anderson-collaoration.jpg?quality=82&strip=all&w=1000&resize=850%2C425"
                         alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Pariatur</h5>
                        <p>Pariatur cupidatat exercitation eiusmod.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<!-- (col-9)Row of the newest Product Info -->
<div class="row mt-3 pt-2 text-white" style="background-color:#717568">
    <div class="col">
        <h5 class="">最新商品</h5>
    </div>
</div>
<div class="row mt-3">
    @foreach (var item in ViewData["newproduct"] as IEnumerable<Product>)
    {
        <div class="col-sm-4 border border-secondary">
            <div>
                <img class="product" name=@item.ProductID src=@item.ProductImage alt="Card image cap">
                <div>
                    <h5 class="mt-2 product" name=@item.ProductID>@item.ProductName</h5>
                    @*<p>
                            @item.Description
                        </p>*@
                    <a href="#">
                        <p class="text-right product" name=@item.ProductID style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
    }
    @*<div class="col-4 border border-secondary">
            <div>
                <img src="http://www.niusnews.com/upload/posts/po3_23028_1405580759.jpg" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div>
                <img src="http://www.gw12580.com/uploads/allimg/150906/1-150Z60953580-L.jpg" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div>
                <img src="https://www.settour.com.tw/act/gfg/korea/snowgift/images/button_item_03.jpg" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>*@
</div>
<!-- (col-9)Row of the hottest Product Info -->
<div class="row mt-3 pt-2 text-white" style="background-color:#717568">
    <div class="col">
        <h4>熱銷商品</h4>
    </div>
</div>
<div class="row mt-3">
    @foreach (var item in ViewData["hotproduct"] as IEnumerable<GetProductOrder>)
    {
        <div class="col-sm-4 border border-secondary">
            <div>
                <img class="product" name=@item.ProductID src=@item.ProductImage alt="Card image cap">
                <div>
                    <h5 class="mt-2 product" name=@item.ProductID>@item.ProductName</h5>
                    @*<p>
                        @item.Description
                    </p>*@
                    <a href="#">
                        <p class="text-right product" name=@item.ProductID style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
    }
    @*<div class="col-4 border border-secondary">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8EeJvvHzNOyeScVKhF1HOrr4ep1QDEjamddTAIT9o_yn-MQD7" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyGhSQTpN4NjlWYg_TqEn-tLSOIOWFfamDUPPO6k4GZHjKAllTnA" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 border border-secondary">
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqApthUPf3FzYRxCXVGkFnwFFRN2VQ3f8J1yQx8jWTwu4l6nHOxQ" alt="Card image cap">
                <div>
                    <h5 class="mt-2">Card title</h5>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a href="#">
                        <p class="text-right" style="color: #3F4739">more</p>
                    </a>
                </div>
            </div>
        </div>*@
</div>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $(document).on("click", ".product", function (e) {
            console.log(e.target.innerText);
            //var category = e.target.innerText;
            $(".page").empty();
            $.ajax({
                url: "/Home/ProductPage",
                data: {
                    categoryName: e.target.value,
                },
                success: function (result) {
                    $(".page").html(result);
                }
            });
        })
    })
</script>*@
