@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <!-- Content Row(col-3-9) -->
    <div class="row mt-3 mb-3">
        <div class="mr-5"></div>
        <!-- Category column bar(col-3) -->
        <div class="col-sm-2 mr-3" style="background-color:#E8E8E8">
            <ul class="nav flex-column">
                @*<li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color: #3F4739" href="#">最新商品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color: #3F4739" href="#">熱銷商品</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" style="color: #3F4739" href="#">商品類別</a>
                </li>
                @foreach (var item in ViewData["allcategory"] as IEnumerable<Category>)
                {
                    <li class="nav-item">
                        <a class="nav-link category" id=@item.CategoryID style="color: #3F4739" >@item.CategoryName</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
        <!-- (col-9)Carousel Row & Product Info -->
        <div class="col-sm-7 mr-3 page">
            @{ Html.RenderAction("HomePage"); }
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(function () {
        $(document).on("click", ".category", function (e) {
            console.log(e.target.innerText);
            var category = e.target.innerText;
            $(".page").empty();
            $.ajax({
                url: "/Home/CategoryPage",
                data: {
                    categoryName: e.target.innerText,
                },
                success: function (result) {
                    $(".page").html(result);
                }
            });
        })
        $(document).on("click", ".product", function (e) {
            console.log(e);
            $(".page").empty();
            $.ajax({
                url: "/Home/ProductPage",
                data: {
                    productid: e.target.id,
                },
                success: function (result) {
                    $(".page").html(result);
                }
            });
        })
        $(document).on("click", "#add", function () {
            $("#count").val(function () {
                return parseInt($(this).val()) + 1;
            })
        })
        $(document).on("click", "#min", function () {
            $("#count").val(function () {
                if (parseInt($(this).val()) <= 1) {

                    return parseInt($(this).val()) = 1;
                }
                else {
                    return parseInt($(this).val()) - 1;
                }
            })
        })
        var quantity = function () {
            $(".quantry").text("");
            $.ajax({
                url: "/Home/Quantity",
                data: {
                    color: $("#Product-Color").val(),
                    size: $("#Product-Size").val(),
                    productjson: $("#p").text(),
                },
                success: function (result) {
                    $(".quantry").html(result);
                }
            });
        }
        $(document).on("change", "#Product-Color", function (e) {
            console.log(e);
            quantity();
        })
        $(document).on("change", "#Product-Size", function (e) {
            console.log(e);
            quantity();
        })
        $(document).on("click", "#shopping", function () {
            console.log($("#chicks"));
            if ($(".quantry").text() == "剩餘數量 : 0") {
                return false
            }
            else if ($("#chicks").attr('class') == "f") {
                alert("請先登入");
                return false
            }
            else {
                $.ajax({
                    url: "/Shopping/PutInCookie",
                    data: {
                        productid: $("#pid").text(),
                        color: $("#Product-Color").val(),
                        size: $("#Product-Size").val(),
                        Quantity: $("#count").val(),
                    },
                    success: function (result) {
                        location.href = "/Shopping/Index";
                    }
                });
            }
        })
    })
</script>
