<div class="container-fluid">
    <div class="row" style="background-color:#3F4739">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm navbar-light">
                <a class="navbar-brand font-weight-bold text-white" href="#">阿畦服飾</a>
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link ml-5 text-white" href="/Home/Index">
                                首頁
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown ml-5">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">優惠活動</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">優惠活動 1</a>
                                <a class="dropdown-item" href="#">優惠活動 2</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="產品搜尋">
                        <button class="btn btn-outline-warning my-2 my-sm-0 text-white" type="submit">搜尋</button>
                    </form>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        @*<li class="nav-item ml-5">
                            <a class="nav-link text-white" href="shopingCar.html"> 購物車 </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-white ml-5" href="/Member/Index">申請會員</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-white" href="UpdateMemberData.html">修改會員</a>
                        </li>*@
                        <li class="nav-item">
                            <button type="button" id="" class="btn btn-link ml-5 text-white" data-toggle="modal" data-target="#loginModelId">會員登入</button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Login", "Home"))
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitleId">會員登入</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right" for="">帳號</label>
                        <input type="text" class="form-control col-6 text-left" name="memberid" id="account">
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right" for="">密碼</label>
                        <input type="password" class="form-control col-6 text-left" name="password" id="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="addItemBtn">登入</button>
                </div>
            }
        </div>
    </div>
</div>

