<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>阿畦商城</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <style>
        body,
        input,
        button,
        select,
        textarea {
            font-family: Arial, "Microsoft JhengHei";
            font-size: 108%;
        }
    </style>
</head>
<body>
    @if (ViewData["user"] as string == null)
    {
        Html.RenderAction("NotLogInBar", "Home");
        <div id="chicks" hidden class="f">
        </div>
    }
    else
    {
        Html.RenderAction("LogInBar", "Home", new { user = @ViewData["user"] });
        <div id="chicks" hidden class="t">
        </div>
    }
    @RenderBody()
    <!-- Other Content Row -->
    <div class="container-fluid">
        <!-- Other Content Row (Footer) -->
        <div class="row mt-4 pt-2 text-white" style="background-color:#3F4739">
            <div class="col-1"></div>
            <div class="col">
                <h5>關於我們</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">關於阿畦商城</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">關於阿畦服飾</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">隱私權政策</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">服務條款</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">人才幕集</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>會員服務</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">加入會員</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">新手上路</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">會員分級</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">訂閱電子報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">24小時隔日取貨</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>客服中心</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">查詢帳號密碼</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">客服信箱</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">客服心QA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">連絡我們</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h5>合作提案</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">企業採購</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">福利平台</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">加入供應商</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">AP策略聯盟</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font-weight-bold" style="color:white" href="#">異業合作</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-2 text-white" style="background-color:#3F4739">
            <div class="col mt-4">
                <h5 style="text-align: center;">客戶服務專線：0800 000 001 &nbsp; 傳真：0800 000 002 &nbsp; 服務時間：週一 ~ 週六：8:00 ~ 19:00，例假日：9:00 ~ 18:00，全年無休</h5>
                <h5 style="text-align: center;">R7數位科技股份有限公司 &nbsp; 地址：台灣300新竹市五福路二段707號 S111 Build School本部</h5>
                <h5 style="text-align: center;">Copyright &copy; since 2018 r7.com.tw All Rights Resvered</h5>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>

