
@{
    ViewBag.Title = "Shopping2";
}
<div class="container-fluid">
    <!-- Title Row(Logo? & Navbar) 網頁的Header-->
    @*<div class="row" style="background-color:#3F4739">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-sm navbar-light">
                <img src="https://github.com/MeCBing/BuildSchool/blob/master/PICTURE/LOGO_1.png?raw=true" class="img-fluid" style="max-width:100%; width:5%; height:auto;">
                <a class="navbar-brand font-weight-bold text-white" href="#">阿畦服飾</a>
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link ml-5 mr-3 text-white" href="/Home/Index">
                                首頁
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown ml-3 mr-5">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">優惠活動</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">優惠活動 1</a>
                                <a class="dropdown-item" href="#">優惠活動 2</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="產品搜尋">
                        <button class="btn btn-outline-warning my-2 my-sm-0 text-white" type="submit">搜尋</button>
                    </form>
                    <ul class="navbar-nav mr-auto ml-5 mt-2 mt-lg-0">
                        <li class="nav-item ml-5">
                            <a id="car" class="nav-link text-white" href="/Shopping/Index"> 購物車 </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white ml-5" href="#"> </a>
                        </li>
                         已登入：會員專區 
                        <li class="nav-item dropdown ml-3 mr-5">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewData["user"]</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="#">查詢訂單內容</a>
                                <a class="dropdown-item" href="#">查詢/修改會員</a>
                                @Html.ActionLink("登出", "LogOut", "Home", new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>*@
    <div class="row mt-4">
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <h5>1.確認購物車</h5>
                </div>
                <div class="col-3">
                    <h5>
                        2.運送、付款資料確認
                        <i class="fas fa-arrow-alt-circle-right"></i>
                    </h5>
                </div>
                <div class="col-3">
                    <h5>3.確認訂單資料</h5>
                </div>
                <div class="col-2">
                    <h5>4.完成訂單</h5>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <h5 class="m-2">請確認取貨人資料及付款方式：</h5>
            @using (Html.BeginForm("Shopping3", "Shopping"))
            {
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item active">請輸入取貨人資料</li>
                        <li class="list-group-item">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">取貨人姓名</label>
                                <input name="name" type="text" class="form-control" id="inputEmail4" placeholder="姓名">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">聯絡人電話</label>
                                <input name="phone" type="text" class="form-control" id="inputPassword4" placeholder="電話">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group col-md-10">
                                <label for="inputAddress">Address</label>
                                <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-group col-md-6">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">付款方式</label>
                                <select name="pay" class="custom-select  mr-sm-2" id="inlineFormCustomSelect">
                                    <option>請選擇</option>
                                    <option>信用卡</option>
                                    <option>無摺匯款</option>
                                    <option>ATM</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-8">

                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-dark align-middle">下一步</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
            </div>
            <!-- Ads (廣告) -->
            <div class="col mt-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="card" style="width: 12rem;">
                            <img class="card-img-top" src="http://im.uniqlo.com/images/tw/uq/pc/goods/404199/item/17_404199_middles.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="#">BLOCKTECH 大衣</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card" style="width: 12rem;">
                            <img class="card-img-top" src="http://im.uniqlo.com/images/tw/uq/pc/goods/407768/item/01_407768_middles.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="#">亞麻混紡 蕾絲開襟外套 </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="card" style="width: 12rem;">
                            <img class="card-img-top" src="http://im.uniqlo.com/images/tw/uq/pc/goods/40519400001/item/32_40519400001_middles.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="#">KANDO外套 </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
